* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

.testimonial-slider {
	height: 100vh;
	background-color: lemonchiffon;

	.profile-pic,
	.quote {
		height: 50%;
		width: 100%;
	}

	.profile-pic {
		background-color: lightblue;
	}

	.quote {
		background-color: lightgreen;
	}
}
